{{#> _page title="movie"}}

<section class="movie-header">
  {{> _media_hero data=hero.movie}}

  <div class="app-section m-movie_crew">
    <div class="container">
      {{> _movie_crew crew=movie.crew}}
      {{> _section_header title="crew" right=true }}
    </div>
  </div>
</section>

<div class="l-content container">
  <section class="app-section">
    {{> _section_header title="cast" right=true }}
    <div class="l-tiles_grid m-people">
      {{#each movie.cast as |cast|}}
      {{> _app_tile tile=cast actor=true }}
      {{/each}}
    </div>
  </section>
</div>

{{/ _page}}