.app-section {
    position: relative;
    display: flex;
    flex-direction: column;

    &.m-movies_list {
        gap: var(--gap-sm);
    }

    &.m-movie_crew {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
        box-shadow: var(--shadow);

        padding-top: var(--gap-sm);
        padding-bottom: var(--gap-sm);

        @include media(md) {
            padding-top: var(--gap-lg);
            padding-bottom: var(--gap-lg);
        }

        .container {
            display: flex;
            justify-content: space-between;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &.m-align_start {
            justify-content: flex-start;
        }

        .app-select {
            margin-left: auto;
        }

        .button {
            margin-right: auto;
        }
    }

    &__title {
        font-size: var(--font-size-3);
        font-weight: bold;
        color: var(--color-secondary-dimmed);
        text-align: right;

        @include media(md) {
            font-size: var(--font-size-2);
        }

        @include media(xl) {
            font-size: var(--font-size-1);
        }
    }
}