.app-footer {
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap-md);
  background-color: var(--primary-900);
  padding-top: var(--gap-md);
  padding-bottom: var(--gap-md);

  &__logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-sm);
    color: var(--grey-500);

    @include media(md) {
      flex-direction: row;
    }
  }
}
