.app-main {
    &__inner {
        margin-top: var(--gap-sm);
        margin-bottom: var(--gap-sm);
        padding: var(--gap-xs);
        border-radius: var(--radius);
        background-color: var(--color-white);

        @include media(lg) {
            margin-top: var(--gap-md);
            margin-bottom: var(--gap-md);
            padding: var(--gap-sm);
        }
    }
}