.app-tile {
    @include poster;

    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    max-width: 100%;
    transition: box-shadow 0.2s ease-out;

    &:focus-within,
    &:hover {
        box-shadow: var(--shadow-md-secondary);
        cursor: pointer;
    }

    &:focus-within &__img,
    &:hover &__img {
        transform: scale(1.04);
    }

    &.m-collection {
        box-shadow: var(--shadow-stack-grey);

        &:focus-within,
        &:hover {
            box-shadow: var(--shadow-stack-secondary);
            cursor: pointer;
        }
    }

    &__picture {
        @include poster;

        display: flex;
        flex-shrink: 0;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: auto;
        transition: transform 0.2s ease-out;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        padding: var(--gap-xs) var(--gap-sm) var(--gap-sm);

        @include media(md) {
            gap: var(--gap-sm);
            padding: var(--gap-sm);
        }
    }

    &__label,
    &__title {
        font-size: var(--tile-text-font-size)
    }

    &__label {
        color: var(--color-secondary);
    }

    .app-favorite {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .app-progress {
        position: absolute;
        right: var(--gap-sm);
        top: 0;
        transform: translateY(-50%);
    }
}