.logo {
  display: flex;
  color: var(--primary-200);
  font-size: 0;

  &__img {
    height: var(--control-size-sm);
    width: auto;

    @include media(md) {
      height: var(--control-size-md);
    }
  }
}

.tmdb-logo {
  &__img {
    height: var(--control-size-sm);

    @include media(md) {
      height: var(--control-size-md);
    }

    .app-footer & {
      height: var(--control-size-xs);

      @include media(md) {
        height: var(--control-size-sm);
      }
    }
  }
}
