.media-hero {
    position: relative;
    background-image: var(--gradient-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media(md) {
        background-image: var(--gradient-dark), var(--backdrop-image);
    }

    &.m-random {
        @include poster;

        &:focus-within,
        &:hover {
            cursor: pointer;

            .media-hero__title {
                @include link-hover;
            }
        }
    }

    &__inner {
        display: grid;
        grid-template-rows: min-content min-content min-content;
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "footer"
            "content";
        gap: var(--gap-md);

        padding-top: var(--gap-sm);
        padding-bottom: var(--gap-lg);

        @include media(md) {
            grid-template-rows: 1fr min-content;
            grid-template-columns: 1fr 3fr;
            grid-template-areas:
                "image content"
                "image footer";
        }

        @include media(lg) {
            gap: var(--gap-lg);

            padding-top: var(--gap-md);
            padding-bottom: var(--gap-md);
        }
    }

    &.m-random &__inner {
        padding-left: var(--gap-sm);
        padding-right: var(--gap-sm);

        @include media(lg) {
            padding-left: var(--gap-sm);
            padding-right: var(--gap-sm);
        }
    }

    &__placeholder {
        position: relative;
        display: flex;
    }

    .app-picture {
        grid-area: image;
    }

    &__content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-sm);
    }

    &__title {
        color: var(--color-grey-100);
        font-size: var(--font-size-4);

        @include media(xl) {
            font-size: var(--font-size-3);
        }
    }

    &.m-random &__title {
        font-size: var(--font-size-5);

        @include media(xl) {
            font-size: var(--font-size-3);
        }
    }

    &__subtitle {
        color: var(--color-grey-200);
        font-size: var(--font-size);

        &::after,
        &::before {
            content: '"';
            color: var(--color-secondary);
        }
    }

    &__tags {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        color: var(--color-grey-200);

        &::after,
        &::before {
            content: '[ ';
            font-weight: bold;
            color: var(--color-secondary);
        }

        &::after {
            content: ' ]';
        }

        li {
            &:not(:last-child) {
                &::after {
                    content: ',';
                    margin-right: .25em;
                }
            }
        }
    }

    &__description {
        color: var(--color-grey-200);
        font-size: var(--font-size);
        line-height: 1.7;
        font-style: italic;
        margin-top: var(--gap-md);

        @include media(lg) {
            width: 80%;
        }
    }

    &__footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        gap: var(--gap-lg);

        .app-favorite {
            margin-left: auto;
        }
    }

    &__placeholder,
    &__inner {
        &.is-hidden {
            display: none;
        }
    }
}