.media-hero {
    @include poster;

    background-image: var(--gradient-dark), var(--backdrop-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "image content"
        "image footer";
    gap: var(--gap-sm) var(--gap-xs);
    padding: var(--gap-sm);

    @include media(lg) {
        gap: var(--gap-sm);
        padding: var(--gap-md) var(--gap-sm);
    }

    &__picture {
        grid-area: image;
        display: flex;
        align-self: start;
    }

    &__img {
        @include poster;

        width: 100%;
    }

    &__content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-sm);
    }

    &__title {
        color: var(--color-grey-100);
        font-size: var(--font-size);

        @include media(lg) {
            font-size: var(--font-size-4);
        }

        @include media(xl) {
            font-size: var(--font-size-3);
        }
    }

    &__description {
        color: var(--color-grey-200);
        font-size: var(--font-size-sm);
        font-style: italic;

        @include media(md) {
            font-size: var(--font-size);
        }
    }

    &__footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        gap: var(--gap-lg);
    }
}