.message {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;

  &__icon {
    background-color: transparent;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--control-size-xs);
    height: var(--control-size-xs);
    margin-left: var(--gap-xs);
  }

  &.m-info {
    color: var(--primary-700);

    .message__icon {
      background-color: var(--color-accent);
    }
  }
}
