.message {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;

    &__icon {
        background-color: transparent;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: var(--control-height-xs);
        height: var(--control-height-xs);
        margin-left: var(--gap-xs);
    }

    &.m-info {
        color: var(--color-secondary-darken);

        .message__icon {
            background-color: var(--color-accent);
        }
    }
}