.movie-row {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    padding-right: var(--gap-lg);
    width: 100%;
    overflow: hidden;

    @include media(lg) {
        gap: var(--gap-md);
        padding-right: var(--gap-xl);
    }

    &__img {
        @include poster(sm);

        width: 3.73rem;
        flex-shrink: 0;

        @include media(lg) {
            width: 4.375rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        flex-grow: 1;
        overflow: hidden;
    }

    &__title {
        font-size: var(--font-size);
    }

    &__description {
        color: var(--color-secondary);
    }

    &__button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}