.movie-row {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    width: 100%;
    transition: box-shadow 0.1s linear;
    border-radius: var(--radius);

    &:active,
    &:focus-visible {
        outline: 2px solid var(--color-secondary-dimmed);
    }

    &:hover {
        box-shadow: var(--shadow);
        cursor: pointer;

        .movie-row__title {
            color: var(--color-secondary);
        }
    }

    &__img {
        @include poster(sm);

        width: 3.73rem;
        flex-shrink: 0;

        @include media(lg) {
            width: 4.375rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        flex-grow: 1;
    }

    &__title {
        font-size: var(--tile-text-font-size);
    }

    &__label {
        color: var(--text-color-light);
        font-size: var(--font-size-sm);
        font-weight: bold;
    }

    &__rating {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: var(--font-size-5);
        font-weight: bold;
        color: var(--color-secondary-dimmed);
    }
}