.page-section {
  position: relative;
  display: flex;
  flex-direction: column;

  &.m-movies_list {
    gap: var(--gap-sm);
  }

  &.m-movie_crew {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    box-shadow: var(--shadow);
    background-color: var(--white);

    padding: var(--gap-md) var(--gap-xs);

    @include media(md) {
      padding: var(--gap-lg) 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: var(--gap-sm);

    @include media(md) {
      flex-wrap: nowrap;
      row-gap: 0;
    }

    &.m-align_start {
      justify-content: flex-start;
    }

    &.m-align_center {
      justify-content: center;
    }

    .app-select {
      margin-left: auto;
    }

    .button {
      margin-right: auto;
    }
  }

  &__title {
    font-size: var(--font-size-3);
    font-weight: bold;
    color: var(--primary-100);
    text-align: right;
    width: 100%;

    @include media(md) {
      font-size: var(--font-size-2);
      width: auto;
    }

    @include media(xl) {
      font-size: var(--font-size-1);
    }
  }
}
