.part-of {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    background-color: rgba(13, 28, 43, 0.15);
    border-radius: var(--radius);
    padding: var(--gap-sm);

    .icon-labeled__label {
        color: var(--color-grey-200);
        font-weight: var(--font-weight);

        a {
            font-weight: bold;
            color: var(--color-secondary);
        }
    }
}