.part-of {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  background-color: rgba(13, 28, 43, 0.15);
  border-radius: var(--radius);
  padding: var(--gap-xs) var(--gap-sm);

  .media-hero__footer & {
    display: none;

    @include media(md) {
      display: flex;
    }
  }

  .media-hero__content & {
    width: 100%;
    margin-top: var(--gap-lg);

    @include media(md) {
      display: none;
    }
  }
}
