.quick-search-hits {
  background-color: var(--white);
  padding: var(--gap-sm);
  border-radius: var(--radius);
  width: calc(100% - var(--gap-xs));
  max-height: 70vh;
  margin: var(--gap-sm) auto 0;
  overflow-y: auto;

  @include media(md) {
    padding: var(--gap-xs) var(--gap-xl);
  }

  &__list {
    padding: 0 0 0 var(--gap-sm);
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: var(--gap-xs);
  }

  &__title {
    color: var(--grey-400);
    font-size: var(--font-size-sm);
    font-weight: normal;
    margin-top: var(--gap-md);
    margin-bottom: var(--gap-sm);
  }

  &__empty {
    color: var(--grey-500);
    font-style: italic;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
  }

  &__content {
    @include media(md) {
      font-size: var(--font-size-5);
    }
  }

  &__link {
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
    }
  }

  &__year {
    color: var(--grey-500);
  }

  &__type {
    font-size: var(--font-size);
    font-style: italic;
    color: var(--grey-400);

    &::before {
      content: '\00a0\00a0\2014\00a0\00a0';
    }
  }

  .app-picture {
    width: 4rem;
    flex-shrink: 0;
  }

  .app-favorite {
    margin-left: auto;
  }
}
