.torrent-search {
    display: flex;
    padding: var(--gap-xs);
    opacity: .15;
    color: var(--color-secondary-dimmed);

    &:hover,
    &:active {
        opacity: .9;
        color: var(--color-primary);
    }

    .svg-icon {
        height: var(--control-height-sm);
        width: var(--control-height-sm);
    }
}