.avatar {
  display: grid;
  place-items: center;
  width: var(--control-size-md);
  height: var(--control-size-md);
  border-radius: 50%;
  overflow: hidden;

  &.m-icon {
    border-radius: 0;
    color: var(--color-primary);
  }

  img {
    width: 100%;
    height: auto;
  }
}
