// TODO: refactor button mods
.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  padding: 0.25rem var(--gap-md);
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: all 0.1s linear;
  border: none;
  background-color: var(--grey-50);
  color: var(--color-text);
  white-space: nowrap;
  text-decoration: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    background-color: var(--grey-100);
  }

  &.m-hidden {
    display: none;
  }

  &.m-icon {
    color: var(--grey-300);
    padding: var(--gap-xs);
    background-color: transparent;

    &:hover {
      color: var(--grey-800);
    }

    &.m-sm {
      .svg-icon {
        height: var(--control-size-xs);
        width: var(--control-size-xs);

        @include media(lg) {
          height: var(--control-size-sm);
          width: var(--control-size-sm);
        }
      }
    }

    &.m-active {
      color: var(--secondary-500);
    }

    .svg-icon {
      height: var(--control-size-sm);
      width: var(--control-size-sm);

      @include media(lg) {
        height: var(--control-size-md);
        width: var(--control-size-md);
      }
    }
  }

  &.m-close {
    @extend .m-icon;

    color: inherit;
    opacity: 0.25;

    &:hover,
    &:active,
    &:focus-visible {
      opacity: 1;
    }

    .svg-icon {
      width: var(--control-size-xs);
      height: var(--control-size-xs);
    }
  }

  &.m-primary {
    &:hover {
      color: var(--secondary-500);
    }
  }

  &.m-secondary {
    &:hover {
      color: var(--color-primary);
    }
  }

  &.m-open-favorites {
    position: relative;

    &:hover {
      color: var(--accent-500);
    }

    &.has-items {
      &::after {
        content: attr(data-favorites-count);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 0;
        width: var(--control-size-xs);
        height: var(--control-size-xs);
        background-color: var(--color-primary);
        border-radius: 9999px;
        color: var(--grey-100);
        font-size: 0.7rem;
        line-height: var(--control-size-xs);
      }
    }
  }

  &.m-outline {
    border: 1px solid var(--grey-500);
    color: var(--grey-300);
    background-color: transparent;
    padding-left: var(--gap-sm);
    padding-right: var(--gap-sm);

    &:hover {
      border: 1px solid var(--grey-100);
      color: var(--grey-100);
    }
  }

  &.m-show_clamped {
    margin-top: var(--gap-xs);
  }
}
