.app-picture {
  display: flex;
  align-self: start;
  aspect-ratio: 3/4;

  &__img {
    @include poster;

    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.2s ease-out;
  }
}
