.app-dialog {
  width: 100vw;
  max-width: 98%;
  margin-top: 5vh;
  padding: var(--gap-xs);
  border: none;
  background: transparent;

  @include media(md) {
    width: 70vw;
    max-width: 48rem;
  }

  &::backdrop {
    background-color: rgba(43, 62, 84, 0.75);
    backdrop-filter: blur(4px);
  }
}
