.app-favorite {
    display: flex;
    padding: var(--gap-xs);

    &:focus-within {
        outline: 1px solid var(--color-secondary);
    }

    input {
        appearance: none;
        margin: 0;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:checked {
            ~.svg-icon {
                color: var(--color-primary);

                &.m-solid {
                    display: block;
                }

                &.m-outline {
                    display: none;
                }
            }
        }
    }

    .svg-icon {
        height: var(--control-height-xs);
        width: var(--control-height-xs);
        color: var(--color-grey-200);

        @include media(lg) {
            height: var(--control-height-sm);
            width: var(--control-height-sm);
        }

        &.m-solid {
            display: none;
        }

        &.m-outline {
            display: block;
        }
    }
}