.app-favorite {
  display: flex;
  padding: var(--gap-xs);

  &:active,
  &:focus-within {
    outline: 1px dotted var(--grey-400);
  }

  input {
    appearance: none;
    margin: 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:checked {
      ~ .svg-icon {
        color: var(--color-accent);

        &.m-solid {
          display: block;
        }

        &.m-outline {
          display: none;
        }
      }
    }
  }

  .svg-icon {
    height: var(--control-size-sm);
    width: var(--control-size-sm);
    color: var(--grey-300);

    &.m-solid {
      display: none;
    }

    &.m-outline {
      display: block;
    }
  }
}
