.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-sm);
    padding: .25rem var(--gap-md);
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: all 0.1s linear;
    border: none;
    background-color: var(--color-secondary-dimmed);
    color: var(--color-secondary-darken);
    text-decoration: none;

    &:hover {
        filter: brightness(.98);
        box-shadow: var(--shadow-md);
    }

    &:active {
        box-shadow: var(--shadow-sm);
    }

    &.m-open-favorites {
        position: relative;

        &.has-items {
            &::after {
                content: attr(data-favorites-count);
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                bottom: 0;
                width: var(--control-height-xs);
                height: var(--control-height-xs);
                background-color: var(--color-secondary);
                border-radius: 9999px;
                color: var(--color-grey-100);
                font-size: .7rem;
                line-height: var(--control-height-xs);
            }
        }
    }

    &.m-icon {
        color: var(--color-grey-200);
        padding: var(--gap-xs);
        background-color: transparent;

        &:hover {
            color: var(--color-grey-800);
            box-shadow: none;
        }

        &.m-sm {
            .svg-icon {
                height: var(--control-height-xs);
                width: var(--control-height-xs);

                @include media(lg) {
                    height: var(--control-height-sm);
                    width: var(--control-height-sm);
                }
            }
        }

        &.m-active {
            color: var(--color-primary);
        }

        .svg-icon {
            height: var(--control-height-sm);
            width: var(--control-height-sm);

            @include media(lg) {
                height: var(--control-height-md);
                width: var(--control-height-md);
            }
        }
    }

    &.m-primary {
        &:hover {
            color: var(--color-primary);
        }
    }

    &.m-secondary {
        &:hover {
            color: var(--color-secondary);
        }
    }
}