.icon-labeled {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: var(--gap-xs);
  color: var(--primary-500);

  &.m-text_light &__label {
    color: var(--grey-100);
  }

  &.m-text_normal &__label {
    font-weight: normal;
  }

  .part-of & {
    align-items: center;
  }

  &__label {
    font-size: var(--font-size);
    font-weight: bold;
    white-space: nowrap;

    .part-of & {
      display: none;
      color: var(--grey-300);
      font-weight: var(--font-weight);

      @include media(md) {
        display: block;
      }
    }
  }

  .svg-icon {
    flex-shrink: 0;
    width: var(--control-size-sm);
    height: var(--control-size-sm);

    @include media(md) {
      width: var(--control-size-sm);
      height: var(--control-size-sm);
    }
  }
}
