.icon-labeled {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--gap-xs);
    color: var(--color-secondary);

    &.m-text_light &__label {
        color: var(--color-grey-100);
    }

    &__label {
        font-size: var(--font-size-sm);
        font-weight: bold;
        white-space: nowrap;

        @include media(md) {
            font-size: var(--font-size);
        }
    }

    .svg-icon {
        width: var(--control-height-xs);
        height: var(--control-height-xs);

        @include media(md) {
            width: var(--control-height-sm);
            height: var(--control-height-sm);
        }
    }
}