<label class="app-favorite" aria-label="add movie to favorites">
    <input type="checkbox" name="toggleFavoriteCheckbox" id="" {{#if favorite}}checked{{/if}}>
    <svg class="svg-icon" width="20" height="20" viewBox="0 0 24 24" aria-hidden="true">
        <use href="src/assets/sprite.svg#fire" />
    </svg>
</label>