<div class="app-progress" style="--value: {{removeDot rating}}" role="progressbar" aria-valuenow="{{removeDot rating}}"
    aria-valuemin="0" aria-valuemax="100" aria-label="The Fast and the Furious Collection rating is {{rating}}">
    {{rating}}</div>