<div class="app-alert m-info" role="alert">
    <button class="app-alert__close app-button m-close" aria-label="Close alert">
        <svg class="svg-icon" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
            <use href="src/assets/sprite.svg#close" />
        </svg>
    </button>
    <p class="app-alert__message">
        <strong>The Fast and The furious Collection</strong>
        →
        <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
            <use href="src/assets/sprite.svg#fire_solid" />
        </svg>
    </p>
</div>