<header class="app-header">
    <div class="app-header__inner container">
        <a class="app-header__logo flex" href="/" aria-label="go to homepage">
            <svg class="app-header__logo-svg" viewBox="0 0 727 97" height="20" aria-hidden="true">
                <use href="src/assets/sprite.svg#logo_light" />
            </svg>
        </a>
        <nav class="app-header__nav">
            <a class="app-button m-open-favorites has-items m-icon m-primary" href="/search-results.html"
                aria-label="go to favorites" data-favorites-count="88">
                <svg class="svg-icon" width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
                    <use href="src/assets/sprite.svg#fire" />
                </svg>
            </a>
            <button class="app-button m-icon m-secondary open-search" aria-label="open search dialog">
                <svg class="svg-icon" width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
                    <use href="src/assets/sprite.svg#search" />
                </svg>
            </button>
        </nav>
    </div>
</header>