<ul class="crew-list">
    {{#each crew as |crewMember|}}
    <li class="crew-item">
        <span class="crew-item__label">{{crewMember.title}}</span>
        <span class="crew-item__value">{{crewMember.name}}</span>
    </li>
    {{/each}}
</ul>