<div class="part-of">
    <span class="icon-labeled">
        <svg class="svg-icon" width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
            <use href="src/assets/sprite.svg#stack" />
        </svg>
        <span class="icon-labeled__label">part of <a href="collection.html">{{title}}</a></span>
    </span>
</div>