<form action="" class="search-form ">
    <input type="text" name="" id="" class="search-form__input" placeholder="start searching...">
    <button class="search-form__clean app-button m-close" aria-label="search" type="reset">
        <svg class="svg-icon" width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
            <use href="src/assets/sprite.svg#close" />
        </svg>
    </button>
    <button class="search-form__submit app-button m-icon m-primary" aria-label="search" type="submit">
        <svg class="svg-icon" width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
            <use href="src/assets/sprite.svg#search" />
        </svg>
    </button>
</form>