<header class="app-section__header {{#if right}}m-align_right{{/if}}">
    <h2 class="app-section__title">{{title}}</h2>
    {{#if sorting}}
    <div class="app-select">
        <label for="sortParts">Sort by:</label>
        <select name="sortParts" id="sortParts">
            <option value="date_asc">Date 0-9</option>
            <option value="date_desc">Date 9-0</option>
            <option value="title_asc">Title 0-9</option>
            <option value="title_desc">Title 9-0</option>
        </select>
    </div>
    {{/if}}
</header>