<aside class="sidebar">
    <div class="app-select m-huge" aria-labelledby="moviesTypeSelect">
        <span class="app-select__arrow" aria-hidden="true">
            <svg class="svg-icon" width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
                <use href="src/assets/sprite.svg#chevron_down" />
            </svg>
        </span>
        <select name="movies type" id="moviesTypeSelect" aria-label="current movies type">
            <option value="1" selected>now playing</option>
            <option value="2">popular</option>
            <option value="3">top rated</option>
            <option value="4">upcoming</option>
        </select>
    </div>
    <div class="l-movies_list" role="list">
        {{#each parts as |part|}}
        {{> _movie_row part=part}}
        {{/each}}
    </div>
</aside>