{{#> _page title="collection"}}
<section class="movie-header">
  {{> _media_hero data=hero.collection}}
</section>
<div class="l-content container">
  <section class="app-section m-movies_list">
    {{> _section_header title="11 parts" sorting=true }}
    <div class="l-tiles_grid m-movies">
      {{#each parts as |part|}}
      {{> _app_tile tile=part}}
      {{/each}}
    </div>
  </section>
</div>
{{/ _page}}