{{#> _page title="main"}}
<div class="l-content m-main_page container">
  {{> _sidebar}}

  <main class="l-main_page_content">
    <section class="app-section m-random_media">
      {{> _section_header title="random collection" right=true }}
      {{> _media_hero data=hero.random extra_class="m-random"}}
    </section>

    <section class="app-section">
      {{> _section_header title="trending movies" right=true }}
      {{> _carousel parts=tranding_movies}}
    </section>

    <section class="app-section">
      {{> _section_header title="trending TV shows" right=true }}
      {{> _carousel parts=tranding_shows}}
    </section>
  </main>
</div>
{{/ _page}}