.container {
  position: relative;
  width: calc(100% - var(--container-gap) * 2);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  &:has(.quick-search-form) {
    margin-top: var(--gap-md);
  }
}

.l-content {
  display: grid;
  gap: var(--gap-lg);
  margin-top: var(--gap-sm);
  margin-bottom: var(--gap-sm);
  padding: var(--gap-xs);
  min-height: var(--control-size-xxl);

  border-radius: var(--radius);
  background-color: var(--color-white);
  box-shadow: var(--shadow);

  @include media(md) {
    gap: var(--gap-sm) var(--gap-lg);
  }

  @include media(lg) {
    gap: var(--gap-md) var(--gap-xl);
    margin-top: var(--gap-md);
    margin-bottom: var(--gap-md);
    padding: var(--gap-sm);
  }

  @include media(xl) {
    gap: var(--gap-xl);
  }

  &.m-main_page {
    grid-template-columns: 1fr;

    @include media(md) {
      grid-template-columns: 2fr 5fr;
    }
  }
}

// content on main page
.l-main_page_content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  min-width: 1px;

  @include media(lg) {
    gap: var(--gap-xl);
  }
}

.l-search_header {
  margin-top: var(--gap-sm);
  margin-bottom: var(--gap-sm);

  @include media(lg) {
    margin-top: var(--gap-lg);
    margin-bottom: var(--gap-lg);
  }
}
