.l-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-lg);
    margin-top: var(--gap-sm);
    margin-bottom: var(--gap-sm);
    padding: var(--gap-xs);

    @include media(md) {
        grid-template-columns: 1fr 2fr;
        gap: var(--gap-sm);
    }

    @include media(lg) {
        gap: var(--gap-md);
        margin-top: var(--gap-md);
        margin-bottom: var(--gap-md);
        padding: var(--gap-sm);
    }

    @include media(xl) {
        gap: var(--gap-xl);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-lg);
        min-width: 1px;

        @include media(lg) {
            gap: var(--gap-xl);
        }
    }
}

.l-movies-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}