@mixin poster($size: lg) {
  @if $size ==sm {
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow);
  } @else if $size ==lg {
    border-radius: var(--radius);
  }
}

%link-base {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: auto;
}

@mixin link {
  @extend %link-base;

  text-decoration-color: var(--primary-100);
}

@mixin link-hover {
  @extend %link-base;

  text-decoration-color: var(--primary-500);
}

@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
}
