// colors
$color-primary: #e63946;
$color-secondary: #439fd9;
$color-secondary-dimmed: #e1f0f9;
$color-secondary-darken: #185277;
$color-accent: #f9dc5c;
$color-accent-dimmed: #fdf5d3;
$color-white: #ffffff;
$color-grey-100: #f5f5f4;
$color-grey-200: #e0e1dd;
$color-grey-500: #778da9;
$color-grey-700: #415a77;
$color-grey-800: #1b263b;
$color-grey-900: #0d1b2a;

$text-color: $color-grey-800;
$text-color-light: $color-grey-500;

// fonts
$font-family: 'Merriweather Sans', sans-serif;
$font-weight: 300;
$line-height: 1.3;

// font sizes
$font-size-sm: 0.75rem;
$font-size: 1rem;
$font-size-5: 1.25rem;
$font-size-4: 1.5rem;
$font-size-3: 2rem;
$font-size-2: 2.5rem;
$font-size-1: 3rem;

// borders
$radius-sm: 0.25rem;
$radius: 0.5rem;

// gaps
$gap-xs: 0.5rem;
$gap-sm: 1rem;
$gap-md: 1.5rem;
$gap-lg: 2rem;
$gap-xl: 2.5rem;
$gap-xxl: 3.75rem;

// breakpoints
$breakpoint-sm: 744px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1400px;

:root {
  --color-primary: #e63946;
  --color-secondary: #439fd9;
  --color-secondary-dimmed: #e1f0f9;
  --color-secondary-darken: #185277;
  --color-accent: #f9dc5c;
  --color-accent-dimmed: #fdf5d3;
  --color-white: #ffffff;
  --color-grey-100: #f5f5f4;
  --color-grey-200: #e0e1dd;
  --color-grey-500: #778da9;
  --color-grey-700: #415a77;
  --color-grey-800: #1b263b;
  --color-grey-900: #0d1b2a;

  --text-color: #1b263b;
  --text-color-light: #778da9;

  --font-size-sm: 0.75rem;
  --font-size: 1rem;
  --font-size-5: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-3: 2rem;
  --font-size-2: 2.5rem;
  --font-size-1: 3rem;

  --radius-sm: 0.25rem;
  --radius: 0.5rem;

  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 1.5rem;
  --gap-lg: 2rem;
  --gap-xl: 2.5rem;
  --gap-xxl: 3.75rem;

  --shadow-sm: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-stack: 12px 12px 0px 0px #f5f5f4, 6px 6px 0px 0px #e0e1dd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $text-color;
}
